* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    max-width: 1280px;
}

.header_title {
    margin: 20px auto;
}

.main {
    display: flex;
    justify-content: space-around;
}

.list {
    display: block;
    width: 450px;
    border: 1px solid #bbb;
    background: #9c9;
}

.cart {
    display: block;
    width: 350px;
    border: 1px solid #bbb;
    background: #cc9;
}

.title {
    border-bottom: 1px solid #bbb;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.catalog {
    min-height: 50px;
}

.str {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 30px;
    max-width: 500px;
    background-color: #f8f8f8;
}

.block {
    display: block;
    margin: 0 10px;
    height: 30px;
    padding: 3px 3px;
    line-height: 30px;
    font-size: 15px;
}

.block_title {
    color: darkgoldenrod;
}

.block_total {
    color: #288d47;
}

.btn {
    margin: 3px 2px;
    height: 35px;
    width: 60px;
    padding: 8px;
    background: #cbc;
    outline: none;
    border: none;
    border-radius: 20px;
}

.btn:hover {
    background-color: #cac;
}

.btn:active {
    background-color: #2bc;
}